@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 270 100% 10%;
    --foreground: 0 0% 98%;
    --solv-background: 270 100% 5%;

    --card: 270 100% 15%;
    --card-foreground: 0 0% 98%;

    --popover: 270 100% 15%;
    --popover-foreground: 0 0% 98%;

    --primary: 270 100% 50%;
    --primary-foreground: 0 0% 98%;

    --secondary: 270 70% 20%;
    --secondary-foreground: 0 0% 98%;

    --muted: 270 50% 20%;
    --muted-foreground: 0 0% 70%;

    --accent: 270 80% 50%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 0 0% 98%;

    --border: 270 30% 20%;
    --input: 270 30% 20%;
    --ring: 270 80% 50%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-gradient-to-b from-[hsl(var(--solv-background))] to-black text-foreground;
    background-attachment: fixed;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply text-foreground;
  }
}
